<!DOCTYPE html>
<html>
  <head>
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="angular-sanitize.min.js"></script>
  <script type="text/javascript" src="showdown.js"></script>
  <script type="text/javascript" src="main.js"></script>
  </head>

  <body ng-app="myApp" ng-csp>
    <div ng-controller="TestCtrl">
        <textarea ng-model="markdown" rows="20" cols="70"></textarea>
        <div ng-bind-html-unsafe="html"></div>
        <button ng-click="save()"></button>
    </div>
  </body>
</html>
